.productos{
    display: flex;
    flex-direction: column;
    font-size: medium;
}

.producto{
    width: 25%;
    margin: 3px;
    cursor: pointer;
    color: rgb(255, 213, 213);
    background-color:  #33343d;
    background-image: linear-gradient(43deg, #33343d 0%, #4b4ea6 46%, #791818 100%);
}


h3{
    text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

