
<body>
  <nav>
    <a href="#">Inicio</a>
    <a href="#">Nosotros</a>
    <a href="#">Morfi</a>
    <a href="#">Clientes</a>
    <a href="#">Contact</a>
    <div class="animation start-home"></div>
  </nav>
  <h1>Tus Productos</h1>
<div class="container">
  <div class="izquierda">
    <app-lista-productos titulo="Comida" [productos]="arrComida" (productoSeleccionado)="onProductoSeleccionado($event)"></app-lista-productos>
    <app-lista-productos titulo="Bebida" [productos]="arrBebida" (productoSeleccionado)="onProductoSeleccionado($event)"></app-lista-productos>
  </div>
  <div class="derecha">
    <app-comanda [arrProductos]="productosSeleccionados"></app-comanda>
  </div>
</div>
</body>
