.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto{
    width: 22%;
    margin: 5px;
    border: 1px solid gray;
    cursor: pointer;
    color: rgb(255, 213, 213);
    font-size: medium;
    background: radial-gradient( circle 732px at -23.9% -25.1%,  rgba(30,39,107,1) 6.1%, rgba(188,104,142,1) 100.2% );;
}

.producto img{
    width: 100%;
}

.producto p{
    margin: 5px auto;
    text-align: center;
}

h3{
    text-transform: uppercase;
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

